* {
  margin: 0;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: red;
  font-weight: 900;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cards {
  width: 100%;
  // border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 700px;
  padding: 20px;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.image {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid red;
}

.search {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #202020;
  color: white;
  font-weight: 900;
  outline: none;
}

::placeholder {
  color: white;
  font-weight: 900;
}
